* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}
#navbar {
  display: flex;
  flex-direction: row;
}

#row-1 {
    width: 50%;
}

#row-2 {
    width: 50%;
}

#logo {
  width: 100px;
}
